body {
    background-color:rgb(57, 161, 189)
}

h1, h2, p, h3{
    color: white;
    text-align: center;
}
input {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
}
